
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/*.navbar {
	background: $dark;
}
.navbar * {
	color: $font-on-dark !important;
}
.navbar-nav li.active a {
	background: $gray-dark !important;
}*/
.navbar {
	margin-bottom: 0 !important
}
.table-store-img {
	width: 32px;
	height: 32px
}
.tab-pane {
	border: 1px solid #ddd;
	border-top: none;
	padding: 20px 0
}
.container-fluid .nav-tabs .active a,
.container-fluid .tab-content {
	background: #fff !important
}
h4 .schedule {
	color: #3097D1;
}
.action::not(.delete-list) {
	text-decoration: underline !important;
	cursor: pointer !important
}
.action.delete-edit {
	color: red !important
}
.sidebar-nav{
	padding-top: 60px !important
}