.weatherBox
{
    display: inline-block;
    margin: 10px;
    font-size: 2em;
    text-align: center;
    background-color: #0c758f;
    color: #FFFFFF;
    min-width: 200px;
    padding: 10px;
}

.weatherBox .icon
{
    font-size: 2em;
}